# Xcode
build/
DerivedData/
*.xcworkspace
!default.xcworkspace
*.xcuserstate
*.xcuserdatad

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods (if you ever use it)
Pods/

# Carthage (if you ever use it)
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# Python
__pycache__/
*.py[cod]
env/
venv/
*.sqlite3

# macOS
.DS_Store

